

.task-form-wrapper{  
    padding: 30px;
    background:hsl(223, 51%, 92%);
    color: #253e65;
    border-radius:30px;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.08); 
    font-family: "Spectral", serif; 
}

.form-group{
    margin-bottom:18px;
    display:flex;
    flex-direction:column;
}

.form-label{
    font-size:18px;
    margin-bottom:8px; 
}

.form-input,
.form-select,
.form-textarea{
    padding:10px 12px;
    border:1px solid #dcdcdc;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.08); 
    border-radius:16px;
    font-size:14px;
    color: #817776;
    letter-spacing: 1px;
    font-family: "Emilys Candy", cursive;
    transition:0.2s;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus{
    border-color:#4f8ef7;
    outline:none;
}

.form-row{
    display:flex;
    gap:20px;
}

.form-row .form-group{
    flex:1;
}

.checkbox-group{
    display:flex;
    gap:15px;
}

.checkbox-item{
    font-size:15px;
    display:flex;
    align-items:center;
    gap:5px;
}

.form-actions{
    margin-top:25px;
}

.btn-cancel{
    background:#e74c3c;
    border:none;
    color:#fff;
    padding:10px 18px;
    border-radius:12px;
    cursor:pointer;
    margin-right:10px;
}

.btn-submit{
    background:#3b82f6;
    border:none;
    color:#fff;
    padding:10px 18px;
    border-radius:12px;
    cursor:pointer;
}

.btn-cancel:hover{
    background:#c0392b;
}

.btn-submit:hover{
    background:#2563eb;
}



/* ---------- Tablet ---------- */
@media (max-width: 992px) {
    .checkbox-group{
        display: inline;
        margin-left: 30px;
    }
    .form-row{
        display: inline;
    }
}

/* ---------- Mobile ---------- */ 
@media (max-width: 770px) {

}

/* ---------- Small Mobile ---------- */
@media (max-width: 500px) { 
    .form-input,
    .form-select,
    .form-textarea,
    .checkbox-item,
    .form-label{
        font-size:12px; 
    }
    .form-actions{
        text-align: center;
    }
    .btn-cancel{
        margin-bottom: 10px;
        padding: 10px;
    }
    .checkbox-group{ 
        margin-left: 10px;
    }
}